.button{
	display: inline-block;
	padding: 10px;
	box-sizing: border-box;
	cursor: pointer;
	border: none;
	text-align: center;
	border-radius: 5px;
	font-size: 14px;
	transition: all .2s;
}
.button:active{
	transform: scale(.95);
}

.primary {
	color: var(--white);
	background-color: var(--primary)
}

.primary:hover{
	background-color: var(--primary-hover);
}

.ghost {
	color: var(--black);
	background: none;
	border: 1px solid var(--gray-light);
}

.ghost:hover{
	color: var(--white);
	background-color: var(--primary)
}

.arrow {
	display: inline-block;
	margin-left: 10px;
	transition: all .3s;
}
.arrow svg{
	transition: all .2s;
}
.primary svg,
.ghost:hover svg{
	fill: var(--white);
}

.down{
	transform: rotate(90deg);
}