.ratingWrapper {
	position: relative;
}

.filled svg {
	fill: var(--primary);
}

.star svg {
	margin-right: 5px;
}
.error svg{
	stroke: var(--red);
}

.editable {
	cursor: pointer;
}

.errorMessage {
	position: absolute;
	bottom: -15px;
	left: 0;
	color: var(--red);
}