.ratingWrapper {
	position: relative;
}

.filled svg {
	fill: var(--primary);
}
.star {
	display: inline-block;
}
.star svg {
	margin: 0 3px;
}
.error svg{
	stroke: var(--red);
}

.editable {
	cursor: pointer;
}

.errorMessage {
	position: absolute;
	bottom: -15px;
	left: 0;
	color: var(--red);
}