.search{
	width: 100%;
	position: relative;
}
.input input{
	padding-right: 35px;	
	width: 100%;
}
.button{
	padding: 7px;
	position: absolute;
	width: 30px;
	height: 30px;
	top: 3px;
	bottom: 3px;
	right: 3px;
}