.firstLevel {
	margin-top: 20px;
	display: grid;
	grid-template-columns: 24px 1fr;
	gap: 20px;
	align-items: center;

	font-weight: 500;
	font-size: 18px;
	line-height: 25px;
	color: var(--gray-dark);
}

.firstLevelActive,
.firstLevel:hover {
	color: var(--primary);
}

.firstLevelActive svg,
.firstLevel:hover svg {
	fill: var(--primary);
}


.secondLevel {
	margin-bottom: 10px;

	text-transform: uppercase;
	color: var(--gray-dark);
	font-weight: 300;
	font-size: 12px;
	/* line-height: 16px; */

	cursor: pointer;
	outline-offset: -2px;
}

.secondBlock {
	margin: 20px 0 20px 12px;
	padding-left: 32px;
	border-left: 1px solid #DFDFDF;

}
.secondLevelBlock{
	overflow: hidden;
}
/* .secondLevelBlockOpened {
	display: block;
}

.secondLevelBlockOpened:last-child {
	margin-bottom: 20px;
} */

.thirdLevel {
	margin-bottom: 10px;
	display: block;

	color: var(--gray-dark);
	font-weight: 500;
	font-size: 14px;
	/* line-height: 19px; */

	cursor: pointer;
	outline-offset: -2px;
}
.thirdLevelActive,
.thirdLevel:hover{
	color: var(--primary);
}