html,
body {
	margin: 0;
	padding: 0;

	font-weight: 400;
	color: var(--black);
	background: #E5E5E5;
	font-family: var(--font-family);
}

a {
	text-decoration: none;

	color: inherit;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	--black: #3B434E;
	--gray-light: #EBEBEB;
	--gray-dark: #62666c;
	--white: white;
	--primary: #6a58b1;
	--primary-hover: #5331da;
	--red: #FC836D;
	--red-light: #fea291;
	--green: #007b48;
	--green-light: #C8F8E4;
	--font-family: "Noto Sans KR", sans-serif;
}
